<form id="checkout-form" class="smart-form" #productForm="ngForm" (ngSubmit)="productUpload(productForm.value)">

  <fieldset>
    <div class="row">
      <section class="col col-6">
        <label class="input"> <i class="icon-prepend fa fa-cubes"></i>
          <input type="text" #nameRef="ngModel" required name="name" placeholder="Product name" ngModel>
        </label>
        <div [hidden]="nameRef.valid || nameRef.pristine" class="alert alert-danger">
          Name is required
        </div>
      </section>
      <section class="col col-6">
        <label class="input"> <i class="icon-prepend fa fa-cubes"></i>
          <input type="text" #batchRef="ngModel" required name="batchId" placeholder="Product Batch" ngModel>
        </label>
        <div [hidden]="batchRef.valid || batchRef.pristine" class="alert alert-danger">
          Batch is required
        </div>
      </section>
    </div>

    <div class="row">
      <section class="col col-6">
        <label class="input"> <i class="icon-prepend fa fa-calendar"></i>
          <input type="date" name="manufacture" placeholder="Manufactured On"  date-format="dd/mm/yy" ngModel />
        </label>
      </section>
      <section class="col col-6">
        <label class="input"> <i class="icon-prepend fa fa-calendar"></i>
          <input type="date" name="expire" placeholder="Expire On" date-format="dd/mm/yy" ngModel />
        </label>
      </section>
    </div>
  </fieldset>

  <fieldset>
    <div class="row">
      <section class="col col-5">
        <label class="input">
          <input type="text" name="heading" placeholder="Heading Title" ngModel>
        </label>
      </section>

      <section class="col col-4">
        <label class="input">
          <input type="text" name="country" placeholder="Country" ngModel>
        </label>
      </section>

      <section class="col col-3">
        <label class="input">
          <input type="text" name="city" placeholder="City" ngModel>
        </label>
      </section>
    </div>

    <section>
      <label for="address" class="input">
        <input type="text" name="image" id="address2" placeholder="Image Url" ngModel>
      </label>
    </section>

    <section>
      <label class="textarea">
        <textarea rows="3" name="description" placeholder="Description" ngModel></textarea>
      </label>
    </section>
    <section>
      <label class="label">File input</label>
      <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" class="btn btn-primary" (change)="fileChangeListener($event)"
        accept=".txt" />
    </section>
  </fieldset>
  <footer>
    <button type="submit" value="submit" [disabled]="!productForm.valid" class="btn btn-primary">
      Submit
    </button>
  </footer>
</form>