<div id="content">

  <div class="row">
    <sa-big-breadcrumbs [items]="['Dashboard', 'My Dashboard']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div [chart]="monthlyTapchart"></div>
    </div>
    <div class="col-md-6 col-lg-6">
      <div [chart]="weeklyTapchart"></div>
    </div>
  </div>

  <br>
  <div class="row">
    <article class="col-sm-12 col-md-12 col-lg-12">
      <bird-eye-widget></bird-eye-widget>
    </article>
  </div>

</div>