<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Product Batch', 'List']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <div class="row">
    <article class="col-sm-12">
      <sa-widget [editbutton]="false" color="darken">
        <header><span class="widget-icon"> <i class="fa fa-table"></i> </span>
          <h2>Products</h2>
        </header>
        <div>
          <div class="widget-body no-padding">
            <table class="table table-striped" [mfData]="products | async" #mf="mfDataTable" [mfRowsOnPage]="5">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="batchId">Batch</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="name">Name</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="manufacture">Manufacture Date</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="expire">Expiry Date</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter>Action</mfDefaultSorter>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mf.data">
                  <td>{{item.batchId}}</td>
                  <td>{{item.name}}</td>
                  <td *ngFor="let metadata of item.metadata | showSelected: ['manufacture', 'expire']">{{metadata.value}}</td>
                  <td>
                    <div class="btn-group dropdown" dropdown>
                      <a class="btn btn-primary btn-xs" (click)="goToView(item)">Action</a>
                      <a class="btn btn-primary btn-xs dropdown-toggle" dropdownToggle><span class="caret"></span></a>
                      <ul *dropdownMenu class="dropdown-menu">
                        <li>
                          <a (click)="goToEdit(item)">Edit</a>
                        </li>
                        <li>
                          <a (click)="goToDesign(item)">Design</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </sa-widget>
    </article>
  </div>
</div>