<div id="content">
  <h4>Design UI Elements</h4>
  <div class="row m-t-20">
    <div class="col-sm-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <label>Widgets List</label>
          <input type="text" class="form-control" [(ngModel)]="searchWidgets" placeholder="Find ..." />
        </div>
        <div class="panel-body">
          <div *ngFor="let widget of availableWidgets | containsFilter:searchWidgets; let index = index" class="panel panel-default" dnd-draggable [dragEnabled]="true"
            [dragData]="widget" (onDragSuccess)="pushWidget($event, index)" [dropZones]="['design']">
            <div class="panel-body">
              <div>
                <label>{{widget.description}}</label>
              </div>
            </div>
          </div>
          <div *ngIf="availableWidgets.length === 0">
            <em> No more widgets </em>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div dnd-droppable [dropZones]="['design']" class="panel panel-info">
        <div class="panel-heading">Dashboard</div>
        <div class="panel-body" style="min-height: 530px">
          <div *ngIf="selectedWidgets.length === 0">
            <h2><em> Drag widgets here </em></h2>
          </div>
          <form (ngSubmit)="submitDesign()">
            <div *ngFor="let widget of selectedWidgets; let index = index" class="panel panel-default">
              <div class="panel-body" *ngIf="widget.name === 'heading'">
                <i class="fa fa-times pull-right" (click)="pullWidget(index)"></i>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="head" class="col-form-label">heading</label>
                    <input type="text" class="form-control" id="head" [(ngModel)]="designPayload.heading" placeholder="heading" name="heading">
                  </div>
                </div>
              </div>
              <div *ngIf="widget.name === 'image'" class="panel-body">
                <i class="fa fa-times pull-right" (click)="pullWidget(index)"></i>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="image" class="col-form-label">Image</label>
                    <input type="file" class="form-control m-b-10" accept='image/*' id="image" [(ngModel)]="designPayload.image" placeholder="Upload image"
                      name="image" (change)='uploadImage($event)'>
                    <label for="image" class="col-form-label">Or Image Url</label>
                    <input type="url" class="form-control" id="imageUrl" [(ngModel)]="designPayload.imageUrl" (change)='uploadImage()' placeholder="Enter image url"
                      name="image-url">
                  </div>
                </div>
              </div>
              <div *ngIf="widget.name === 'description'" class="panel-body">
                <i class="fa fa-times pull-right" (click)="pullWidget(index)"></i>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="description" class="col-form-label">Description</label> ​
                    <textarea id="txtArea" rows="5" class="form-control" [(ngModel)]="designPayload.description" placeholder="Description" id="Enter Description"
                      name="description"></textarea>
                  </div>
                </div>
              </div>
              <div *ngIf="widget.name === 'border'" class="panel-body">
                <span style="border-bottom : 1px"></span>
              </div>
              <div *ngIf="widget.name === 'item'" class="panel-body">
                <i class="fa fa-times pull-right" (click)="pullWidget(index)"></i>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="item" class="col-form-label">Item Name</label> ​
                    <input type="text" id="itemName" class="form-control" [(ngModel)]="designPayload.itemName" 
                      placeholder="Item Name"
                      name="itemName" />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row" *ngIf="selectedWidgets.length > 0">
              <div class="col-sm-10">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Preview</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-heading m-l-15 m-t-10">
                    <h5 class="modal-title" id="exampleModalLabel">Dashboar Mobile view</h5>
                  </div>
                  <div class="modal-body">
                    <div class="content">
                      <div class="inner-content">
                        <h2 class="m-t-0" style="border-bottom: 1px dashed;">{{designPayload.heading}}</h2>
                        <img id='output' src="" [hidden]="!showImage" />
                        <div class="description">
                          {{designPayload.description}}
                        </div>
                        <div class="itemName">
                          <span class="col-sm-2 col-md-2 p-l-0">Item: </span>
                          <span class="col-sm-10 col-md-10">{{designPayload.itemName}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>